/* Regra de Renderização de Componentes */


/* Quando a tela tiver 700px segue a regra abaixo*/

@media screen and (max-width:700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }
    .botao {
        margin-top: 5px;
        width: 190px;
        height: 60px;
    }
}


/* Quando a tela tiver 1000px segue a regra abaixo*/

@media screen and (min-width:1000px) {
    .descricao {
        width: 50%;
    }
}